.pricing__card__container {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.pricing__wrapper {
  padding: 60px 36px;
  border-radius: 42px;
  backdrop-filter: blur(5rem);
  border: 2px solid hsla(119, 100%, 90%, 1);
  position: relative;
  width: 300px;
}

.pricing_heading {
  text-align: center;
  font-family: "Futura Now Headline", sans-serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 10%;
}

.pricing_button {
  margin: 1.2rem auto;
  width: 200px;
  height: 60px;
  font-family: "Futura Now Headline", sans-serif;
  display: block;
  font-size: 20px;
  background-color: hsla(145, 100%, 83%, 1);
  border: 1px solid hsla(145, 52%, 39%, 1);
  border-radius: 37px;
  color: hsla(145, 52%, 39%, 1);
  font-weight: bold;
}

.pricing_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 12px 8.8px 0px hsla(0, 0%, 0%, 0.25);
}

.feature__wrapper {
  margin-top: 0.6rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.feature__text {
  font-family: "Futura Now Headline", sans-serif;
}

.pricing__main {
  background: linear-gradient(180deg, #cdffcc 0%, #161616 100%);
}

.popular__bagde {
  position: absolute;
  top: -20px;
  right: 50px;
  padding: 14px 16px;
  background-color: hsla(145, 96%, 17%, 1);
  border-radius: 53px;
  font-size: 20px;
  font-weight: 500;
}
