.title {
  font-size: 6rem;
  font-weight: 800;
  color: white;
  display: inline-block;
  position: relative;
  z-index: 10;
}

.letter {
  display: inline-block;
  will-change: transform, opacity;
}
