/* .subtitle removed to rely on global .subtitle style */

.cursor {
  display: inline-block;
  color: #0de785;
  animation: blink 1s step-end infinite;
  margin-left: 2px;
}

@keyframes blink {

  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}