html, body, * {
  cursor: none !important;
}

/* SMALL DOT */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999999;
  transform: translate(-50%, -50%);
  transition: 0.25s ease;
}

/* BIG TRANSPARENT CIRCLE */
.cursor-big {
  width: 120px;
  height: 120px;
  background: rgba(109, 108, 108, 0); /* transparent */
  border: 2px solid rgba(255, 255, 255, 0.4);
}
