/* Wrapper */
.section-title {
font-size: 2.8rem;
font-weight: 700;
margin-bottom: 40px;
text-align: center;
color: #fff;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-wrapper {
  min-height: 100vh;
  width: 100%;
  background: #000;
  padding: 80px 50px;
  color: white;
}

/* Title */
.team-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 60px;
  background: linear-gradient(90deg, #0cb97c, #00ffbf);
  -webkit-background-clip: text;
  color: transparent;
}

/* Grid */
.team-grid {
    margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
  place-items: center;
}

/* 3D Glassmorphism Team Card */
.team-card {
  width: 260px;
  height: 360px;
  padding: 18px;
  border-radius: 20px;
  background: rgba(10, 10, 10, 0.35);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(0, 255, 170, 0.25);
  box-shadow: 0px 0px 20px rgba(0, 255, 170, 0.25);

  transition: transform 0.15s ease-out, box-shadow 0.3s;
  transform-style: preserve-3d;
  cursor: pointer;

  position: relative;
  overflow: hidden;
}

.team-card:hover {
  box-shadow: 0px 0px 35px rgba(0, 255, 170, 0.55);
  transform: scale(1.03);
}

/* Image */
.team-img {
  width: 100%;
  height: 65%;
  border-radius: 15px;
  overflow: hidden;
}

.team-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.4s;
}

.team-card:hover .team-img img {
  transform: scale(1.18);
}

/* Hidden Info */
.team-info {
  margin-top: 12px;
  text-align: center;
  opacity: 0;
  transform: translateY(15px);
  transition: 0.35s ease;
}

/* Show info on hover */
.team-card .team-info {
  opacity: 1;
  transform: translateY(0px);
}

.team-info h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.team-info p {
  font-size: 0.9rem;
  color: #00e3a0;
}

.team-info span {
  font-size: 0.85rem;
  color: #bbb;
}
